<div class="home-container">
  <%= render 'layouts/home_activities_card', classCategory: "art-class", category: @art, activities: @art_activities%>
  <%= render 'layouts/home_activities_card', classCategory: "music-class", category: @music, activities: @music_activities%>
  <%= render 'layouts/home_activities_card', classCategory: "dance-class", category: @dance, activities: @dance_activities%>
</div>
