.show-category-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.show-category-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;

}

.categories-category {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.categories-activities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 25px;
}

.categories-activities-card-container {
  margin-top: 25px;
  width: 300px;
  height: 500px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}

.categories-top-activity-card {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.categories-top-activity-card:hover {
  cursor: pointer;
}

.categories-bottom-activity-card {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgray;
}

.categories-activity-card-user:hover {
  cursor: pointer;
}

.categories-activity-card-name {
  cursor: pointer;
}
