.create-activity-form-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-activity-form-css {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.create-activity-form-css input {
  width: 100%;
  height: 30px;
  text-indent: 5px;
}

.create-activity-form-css textarea {
  width: 100%;
  height: 80px;
  text-indent: 5px;
}

.create-activity-form-css label {
  width: 100%;
  margin-top: 25px;
}

.display-it-none {
  display: none;
}
