<% provide(:title, 'Art Activities') %>
<h1>Dance Activities</h1>
<div class="users-sctivities-container">
  <% @activities.where(catagory: 'art') do |activity| %>
  #display activity
  <% end %>
</div>
