<div class="create-activity-form-container">
  <h1>Log In</h1>
  <form class="create-activity-form-css" action="<%= login_path %>" method="post">
    <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>

    <label>
      Email
      <input class="" type="email" name="session[email]" value="">
    </label>

    <label>
      Password
      <input class="" type="password" name="session[password]" value="">
    </label>

    <input class="btn btn-primary" type="submit" value="Login">
  </form>
  <%= link_to "Sign up now!", signup_path, class: "sign-up-button" %>
</div>
