<div class="new-footer">
  <div class="left-footer-container">
    The <a class="gray-color" href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a class="gray-color" href="http://www.michaelhartl.com/">Michael Hartl</a>
  </div>
  <div class="right-footer-container">
    <div class="gray-color"><%= link_to "About",   'about_path' %></div>
    <div class="gray-color"><%= link_to "Contact", 'contact_path' %></div>
    <div class="gray-color"><a href="http://news.railstutorial.org/">News</a></div>
  </div>
</div>
