<div class="create-activity-form-container">
  <h1>Create Your Activity</h1>
  <form class="create-activity-form-css" action="<%= activities_path %>" method="post">
    <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>

    <label>
      Activity Name
      <input class="" type="text" name="activity[activity_name]" value="">
    </label>

    <label>
      Description
      <textarea class="" name="activity[content]"></textarea>
    </label>

    <label>
      Additional Info
      <textarea class="" type="text" name="activity[additional_info]"></textarea>
    </label>

    <label>
      Categories
      <select name="activity[category]">
        <option value="art">art</option>
        <option value="music">music</option>
        <option value="dance">dance</option>
      </select>
    </label>

    <label>
      Price
      <input class="" type="text" name="activity[cost]" value="">
    </label>

    <label>
      Address 1
      <input class="" type="text" name="activity[addressLN1]" value="">
    </label>

    <label>
      Address 2
      <input class="" type="text" name="activity[addressLN2]" value="">
    </label>

    <label>
      City
      <input class="" type="text" name="activity[city]" value="">
    </label>

    <label>
      State
      <input class="" type="text" name="activity[state]" value="">
    </label>

    <label>
      Zipcode
      <input class="" type="text" name="activity[zip]" value="">
    </label>

    <label>
      Start Date
      <input class="" type="datetime-local" name="activity[start_date]" value="">
    </label>

    <label>
      End Date
      <input class="" type="datetime-local" name="activity[end_date]" value="">
    </label>

    <label>
      Picture
      <input class="" type="file" name="activity[picture]" value="">
    </label>

    <input class="btn btn-primary" type="submit" value="Create Activity">
  </form>
</div>
