<div class="users-ratings-container">
  <%activities.each do |activity|%>
    <div class="ratings-card-container">
      <img class="ratings-card-picture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS51NatASNQs7LKejInV8vrYzM1TVZ_4YAtNEIRXrBLaqyg5fQi" />
      <div class="ratings-card-right">
        <div class="stars-container">
          <%activity.get_average_rating.times do |num|%>
            <div class="star"><img width="25px" height="25px" src="https://github.com/hennyhandles/angaea/blob/master/app/assets/images/star.png?raw=true"/></div>
          <%end%>
        </div>
        <div class="ratings-comment">"<%=activity.get_comment%>"</div>
      </div>
    </div>
  <%end%>
</div>
